.quoteBox {
	height: 146px;
	width: 146px;
	float: left;
	border: 1px solid #CCCCCC;
	padding: 10px;
}

.quoteBox h3 {
	margin: 0px;
}

.quoteBoxContent {
  position: relative;
  width: 100%;
  height: 100%;
}

.crossIcon {
	width: 15px;
	height: 15px;
	float: right;
}

.quoteBoxPrice h1 {
	float: left;
}

.quoteBoxPrice p {
	float: right;
	margin-top: 35px;
}

.clearFloat {
	clear: both;
}

.quoteBoxGreen {
	color: green;
}

.quoteBoxRed {
	color: red;
}

.quoteBoxBlack {
	color: black;
}

.loader {
  position: relative;
  left: 13%;
  top: 13%;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

