body {
  font-size: 16px;
  font-family: Calibri, Arial;
	border: 0px;
  margin: 0px;
}

.mainContainer {
  max-width: 850px;
  margin: 0px auto;
  overflow: visible;
  text-align: center;
	clear: both;
}

h1 {
  font-size: 230%;
  color: #00063A;
}

h2 {
  font-size: 180%;
	color: #00063A;
}

footer {
  font-size: 80%;
  color: #00063A;
}

.alignCenter {
  padding: 0px auto;
}