.leftCol {
	width: 50%;
	float: left;
	min-height: 450px;
  overflow: hidden;
	/*border: 1px solid green;*/
}

.leftBodyContainer {
  text-align: right;
	width: 100%;
	min-height: 450px;
	display: table;
	/*border: 1px solid green;*/
}

.leftBodyContainer span {
  vertical-align:middle;
  display: table-cell;
}

.rightCol {
	width: 50%;
	float: right;
	min-height: 450px;
  overflow: hidden;
	/*border: 1px solid green;*/
}

.rightBodyContainer {
	padding: 50px;
  text-align: center;
	/*border: 1px solid green;*/
}

.homePicture {
  border-radius: 50%;
  width: 350px;
}