.contentContainer {
  overflow: visible;
}

.questionContainer {
	clear: both;
  text-align: left;
}

.resultContainer {
	clear: both;
  text-align: left;
}

.questionContainer ul li {
	clear: both;
}

.questionContainer ul {
  list-style-type: none;
}

.showBorder {
  border: 1px solid black;
}

.floatLeft {
	display: inline;
	float: left;
}

.floatRight {
	display: inline;
	float: right;
	color: red;
}

.answerButton {
	padding: 8px;
	margin: 8px;
}

.green {
	background: green;
	color: white;
}

.red {
	background: red;
	color: white;
}

.resultImage {
	float: right;
	padding-top: 40px;
	padding-left: 50px;
}

.BookButton {
	padding: 8px;
	margin: 8px;
}

.booksButton {
	padding: 10px 0px;
	margin: 0px;
}

.currentBook {
	background: #00063A;
	color: white;
}